<!-- masthead -->
<header id="masthead" class="site-header clearfix">

    <div class="header-main clearfix">
        <div class="container mobile_relative">
            <div class="row">
                <div class="site-logo col-md-3 col-sm-6 col-xs-6">
                    <a href="" class="logo">
                        <img src="../../static/userResources/images/logo-light.png" alt="CargoHub"
                             class="logo-light show-logo">
                        <img src="../../static/userResources/images/logo.png" alt="CargoHub"
                             class="logo-dark hide-logo">
                    </a>
                    <h1 class="site-title"><a href="/user/LoadDashboard">Helmet Detection and Face Recognition</a></h1>
                    <h2 class="site-description">User Dashboard</h2>
                </div>
                <div class="site-menu col-md-9 col-sm-6 col-xs-6">
                    <nav id="site-navigation" class="main-nav primary-nav nav">
                        <ul class="menu">
                            <li class="active has-children"><a class="dropdown-toggle">Purchase</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/viewPackage">View Packages</a></li>
                                    <li><a href="/user/viewPurchase">View Purchase</a></li>

                                    {#                                    <li><a href="home-page-3.html">Home Page 3</a></li>#}
                                    {#                                    <li><a href="home-page-4.html">Home Page 4</a></li>#}
                                </ul>
                            </li>

                            <li class="has-children"><a class="dropdown-toggle">Staff</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/loadStaff">Add Staff</a></li>
                                    <li><a href="/user/viewStaff">View Staff</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="/user/viewAttendance">Attendance</a>
                            </li>

                            <li class="has-children"><a class="dropdown-toggle">Video</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/loadVideo">Upload Video</a></li>
                                    <li><a href="/user/viewVideo">View Video</a></li>
                                    {#                                    <li><a href="our-prices.html">Our Prices</a></li>#}
                                    {#                                    <li><a href="testimonials.html">Testimonials</a></li>#}
                                </ul>
                            </li>

                            {#                            <li>#}
                            {#                                <a href="/user/viewDetection">Detection</a>#}
                            {#                            </li>#}
                            {#                                    <li><a href="road-freight-forwarding.html">Road Freight Forwarding</a></li>#}
                            {#                                    <li><a href="ocean-freight-forwarding.html">Ocean Freight Forwarding</a></li>#}
                            {#                                    <li><a href="air-freight-forwarding.html">Air Freight Forwarding</a></li>#}
                            {#                                    <li><a href="warehousing.html">Warehousing</a></li>#}
                            {#                                    <li><a href="door-to-door-delivery.html">Door to Door Delivery</a></li>#}
                            {#                                    <li><a href="ground-transport.html">Ground Transport</a></li>#}
                            {#                                    <li><a href="worldwide-transport.html">Worldwide Transport</a></li>#}
                            {#                                    <li><a href="cargo-service.html">Cargo Service</a></li>#}
                            {#                                    <li><a href="packaging-storage.html">Packaging &#038; Storage</a></li>#}


                            <li class="has-children"><a class="dropdown-toggle">Complain</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/loadComplain">Post Complain</a></li>
                                    <li><a href="/user/viewComplain">View Complain</a></li>
                                    {#                                    <li><a href="gallery.html">Gallery Two Columns</a></li>#}
                                    {#                                    <li><a href="gallery-single.html">Gallery Single</a></li>#}
                                </ul>
                            </li>
                            <li class="has-children"><a class="dropdown-toggle">Feedback</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/loadFeedback">Post Feedback</a></li>
                                    <li><a href="/user/viewFeedback">View Feedback</a></li>
                                </ul>
                            </li>

                            <li class="has-children"><a class="dropdown-toggle">Profile</a>
                                <ul class="sub-menu">
                                    <li><a href="/user/editProfile">Edit Profile</a></li>
                                    <li><a href="/user/changePassword">Reset Password</a></li>
                                </ul>
                            </li>
                            {#                            <li class="has-children"><a href="blog.html" class="dropdown-toggle">News</a>#}
                            {#                                <ul class="sub-menu">#}
                            {#                                    <li><a href="blog-column-2.html">Blog Two Columns</a></li>#}
                            {#                                    <li><a href="blog-column-3.html">Blog Three Columns</a></li>#}
                            {#                                    <li><a href="blog-column-4.html">Blog Four Columns</a></li>#}
                            {#                                    <li><a href="blog-sidebar.html">Blog With Sidebar</a></li>#}
                            {#                                    <li><a href="blog-single.html">Blog Single Post</a></li>#}
                            {#                                </ul>#}
                            {#                            </li>#}
                            {#                            <li><a href="contact.html">Contact</a></li>#}
                            {#                            <li class="extra-menu-item menu-item-button-link">#}
                            {#                                <a href="request-a-quote.html" class="fh-btn btn">Get A Quote</a>#}
                            {#                            </li>#}
                        </ul>
                    </nav>
                </div>
            </div>
            <a href="#" class="navbar-toggle">
                        <span class="navbar-icon">
							<span class="navbars-line"></span>
                        </span>
            </a>
        </div>
    </div>

</header>

<!-- masthead end -->